div
  ul
    li
      img(src='https://www.taxumo.com/wp-content/uploads/2018/02/logo_for_aqua_bg.png', style='width: 50% ; height:50%; padding-left: 20px; margin: 15px')
form
  .form-group
    label(for='email') Email address
    input#email.form-control(type='email', (input)='saveEmail($event)', aria-describedby='emailHelp', placeholder='Enter email')
  .form-group
    label(for='tinNo') TIN
    input#tinNo.form-control(type='text', (input)='saveTIN($event)', placeholder='Enter TIN')
  input(type='checkbox')
  a(href='#', data-toggle='modal', data-target='#termsModal')  Terms and Conditions 
  br
  a.square_btn(href='#')
    i.fa.fa-chevron-right((click)='verifyUser()')
    |  Verify
#termsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='termsModal', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Terms and Conditions
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | {{terms}}
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
