<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sh384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style>
        .body-content {
            padding-top: 50px;
        }

        .square_btn {
            position: relative;
            display: inline-block;
            font-weight: bold;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-radius: 25px;
            text-decoration: none;
            color: #ffffff;
            background: #FBC734;
            transition: .4s;
            margin-left: 40%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .square_btn:hover {
            background: #af8104;
            color: white;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #10E0E0;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: #FFFFFF;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

        input[type=text], textarea {
            -webkit-transition: all 0.30s ease-in-out;
            -moz-transition: all 0.30s ease-in-out;
            -ms-transition: all 0.30s ease-in-out;
            -o-transition: all 0.30s ease-in-out;
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid #DDDDDD;
            border-radius: 2px;
            margin-bottom: 10px;
        }

        input[type=text]:focus, textarea:focus {
            box-shadow: 0 0 5px rgba(81, 203, 238, 1);
            padding: 3px 0px 3px 3px;
            margin: 5px 1px 3px 0px;
            border: 1px solid rgba(81, 203, 238, 1);
        }

        form {
            position:fixed;
            top: 50%;
            left: 50%;
            width:30em;
            height:18em;
            margin-top: -9em; /*set to a negative number 1/2 of your height*/
            margin-left: -15em; /*set to a negative number 1/2 of your width*/
        }
    </style>


    <script>
        var email = document.getElementById("email").value;
        var tinNO = document.getElementById("tinNo").value;
    </script>

</head>


<div>
    <ul>
        <li>
           <img src="https://www.taxumo.com/wp-content/uploads/2018/02/logo_for_aqua_bg.png" style="width: 20% ; padding-left: 20px; margin: 15px" />
        </li>
    </ul>
</div>

<form action="authorize/submit" method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" (input)="saveEmail($event)" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="tinNo">TIN</label>
        <input type="text" (input)="saveTIN($event)" class="form-control" id="tinNo" placeholder="Enter TIN">
    </div>
    <input type="checkbox" />
    <a href="#termsModal" data-toggle="modal" data-target="#termsModal"> Terms and Conditions </a><br>
    <a href="@ViewBag.RedirectURISuccess" class="square_btn">Verify</a>
</form>

<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> 

        <div class="modal-body">
          {{terms}}
       </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>


